
<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <title>电影FM</title>
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link rel="stylesheet" href="../static/static/css/bootstrap.min.5d5357cb3704.css">
        <link rel="stylesheet" href="../static/static/css/discovery.ec33798d73cf.css">
        <link rel="stylesheet" href="../static/static/css/font-awesome.min.0831cba6a670.css">
        <link rel="stylesheet" href="../static/static/js/bootstrap.min.4becdc910462.js">
        <link rel="stylesheet" href="../static/static/js/jquery-1.10.2.min.628072e7212d.js">
        <link rel="stylesheet" href="../static/static/js/jquery.scrollTo-min.e30014524e63.js">
        <link rel="stylesheet" href="../static/static/js/v2.059d72b49af9.js">
        
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="row col-lg-10 col-lg-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand fmlogo" href="/">电影FM <span style="font-size: 12px;">beta</span></a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class=" nav navbar-nav pull-right">
                        <li class=""><a href="/caitu/">猜电影</a></li>
                        <li class=""><a href="/search/">电影大全</a></li>
                        <li class=""><a href="/collection/">电影专辑</a></li>
                        
                        
                        <li class=""><a href="/profile/">个人主页</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">(•̀へ•́╮)<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile/1463536/movies/planned">我的电影</a></li>
                                <li><a href="/profile/1463536/collections/own">我的专辑</a></li>
                                <li><a href="/status/user_comments/1467763">我的影评</a></li>
                                <li><a href="/profile/1463536/following">我的关注</a></li>
                                <li class="divider"></li>
                                <li><a href="/account/settings/basic">个人设置</a></li>
                                <li class="divider"></li>
                                <li><a href="/account/logout">注销</a></li>
                            </ul>
                        </li>
                        
                    </ul>
                    <form class="navbar-form navbar-left fm-search" role="search" action="/search/" method="get">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" name="text" placeholder="电影、艺人、导演">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>
                            </span>
                        </div>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>

    
    <!--电影简介-->
    <div id="x-kankan-detail" class="x-kankan-detail">
        <p class="x-kankan-title">
            <a href="/movie/faces-in-the-crowd/" class="q" data-toggle="tooltip" title="" data-placement="top" data-original-title="点击查看《幻影追凶》的详细资料">
        幻影追凶</a>
            <span class="revision-score">
                <span class="revision-collections">&nbsp;</span>
                <span class="fm-rating">
                    <a class="fm-green" target="_blank" rel="nofollow" href="https://movie.douban.com/subject/4120583/">
                        豆瓣 6.1 </a>
                
                
                 /
                
                
                    <a class="fm-orange" target="_blank" rel="nofollow" href="https://www.imdb.com/title/tt1536410/">
                        IMDB 5.7 </a>
                
                </span>
            </span>
        </p>
        <p class="x-kankan-desc">
        女主角安娜（米拉·乔沃维奇 Milla Jovovich 饰）偶然在街头目睹一场凶杀案，被歹徒发现后追杀，慌乱的搏斗中安娜受伤跌入河中而幸免一死。安娜成了唯一活下来并看到过凶手真面目的目击证人。警察决定要从安娜身上找到连环杀人案破案的突破口。
                            ...
                <a href="#" id="show_full_desc">显示更多</a>
        </p>
        <div class="x-kankan-full-desc" style="display: none;">
                    女主角安娜（米拉·乔沃维奇 Milla Jovovich 饰）偶然在街头目睹一场凶杀案，被歹徒发现后追杀，慌乱的搏斗中安娜受伤跌入河中而幸免一死。安娜成了唯一活下来并看到过凶手真面目的目击证人。警察决定要从安娜身上找到连环杀人案破案的突破口。
                                    <br>
                                　　受伤的安娜一周后从昏迷中苏醒，却发现她看到的每一张脸都在不断变化变形——她再也不能辨认出身边人的脸，包括自己的男友和父亲。这种症状医学上称为“人面失认症”，又称“脸盲症”。凶手似乎也知道了安娜因脑伤患上脸盲症的秘密。为了测试安娜是否真的不能认出自己，凶手不断通过各种手段对安娜进行试探挑衅，安娜感觉到凶手如影随形，随时就在身边威胁着她的生命。最终，凶手确认安娜只能通过衣服的颜色和领带的式样等特征来辨认不同的人，决定挺身而走险，换上了安娜前男友的衣服领带来见安娜，准备伺机将安娜带到偏僻处除掉。然而百密一疏，凶手一个细节上的失误让安娜突然警觉到眼前的男人不是自己的前男友，正是要置她于死地的罪犯。警察接到安娜报警后赶来营救安娜，展开生死较量，并最终将凶手抓捕归案。
        </div>
        
        <p></p>
        <p class="muted x-kankan-starring" style="margin-top:5px;">导演：朱利安·麦格奈</p>
        <p class="muted x-kankan-starring">主演：米拉·乔沃维奇 / 朱利安·麦克马洪 / 迈克尔·山克斯 / 莎拉·韦恩·卡丽丝</p>
        <p class="muted">剧情 / 惊悚 / 犯罪</p>
    

    <!--喜好标签-->

    <div class="x-usermovie-controls x-kankan-buttons">
            <div class="btn-group fm-discovery-actions">
                
                    <a href="/movie/faces-in-the-crowd/undo_tag/planned" data-placement="top" class="btn-default revision-btn-left fm-btn-ajax" title="" data-toggle="tooltip" data-movie="faces-in-the-crowd" data-cat="planned" data-class="btn-warning" data-original-title="计划观看">
                        <span class="glyphicon glyphicon-time"></span>
                    </a>
                
                
                    <a href="/movie/faces-in-the-crowd/undo_tag/watched" data-placement="top" class="btn-default revision-btn-left fm-btn-ajax" title="" data-toggle="tooltip" data-movie="faces-in-the-crowd" data-cat="watched" data-class="btn-success" data-original-title="已经看过">
                        <span class="glyphicon glyphicon-check"></span>
                    </a>
                
                
                    <a href="/movie/faces-in-the-crowd/undo_tag/liked" data-placement="top" class="btn-default revision-btn-left fm-btn-ajax" title="" data-toggle="tooltip" data-movie="faces-in-the-crowd" data-cat="liked" data-class="btn-danger" data-original-title="喜欢">
                        <span class="glyphicon glyphicon-heart"></span>
                    </a>
                
                
                    <a href="/movie/faces-in-the-crowd/undo_tag/disliked" data-placement="top" class="btn-default revision-btn-left fm-btn-ajax" title="" data-toggle="tooltip" data-movie="faces-in-the-crowd" data-cat="disliked" data-class="btn-gray" data-original-title="不喜欢">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                
            </div>
        
            <div class="btn-group x-kankan-navigator">
                <a class="revision-btn-history" id="btn_gethis">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a href="/discovery/hesher/" class="btn-default revision-btn-next">
                    <span>换一个看看&nbsp;</span><span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
    </div>
    
    <!--播放按钮-->
    <div class="xx-play-button">
        <a href="/movie/faces-in-the-crowd/#play" class="q" data-title="全网资源搜索" style="display: none;" data-hover="true">
            <img src="/static/static/images/kankan_play.7b61b6e9285d.png" alt="播放按钮">
        </a>
    </div>
</body>